<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ApiDemos Test Suite" verbose="1">

    <test name="ApiDemos Inspector Demo Tests">
        <classes>
            <class name="tests.ApiDemosTest">
                <methods>
                    <!-- Sadece Inspector demo testini calistirmak icin -->
                    <!-- <include name="testInspectorDemo_WillFail"/> -->
                </methods>
            </class>
        </classes>
    </test>

</suite>
